<section id="ccr-main-section">
	<div class="container">


		<section id="ccr-left-section" class="col-md-8">

			<div class="current-page">
				<%= link_to "Home", home_index_path %> <i class="fa fa-home"></i> <i class="fa fa-angle-double-right"></i>
				<%= link_to "News", home_news_path %> <i class="fa fa-angle-double-right"></i> <%= @news_detail.title %>
			</div> <!-- / .current-page -->

			<article id="ccr-article">
				<h1><%= @news_detail.title %></h1>

				<div class="article-like-comment-date">	
					Posted by <%= @news_detail.credit %> on <%= @news_detail.created_at %> in <a href="#category">Category</a>

					<a class="like" href="#"><i class="fa fa-thumbs-o-up"></i> 08</a>
					<a class="comments" href="#"><i class="fa fa-comments-o"></i> 49</a>
					
				</div> <!-- /.article-like-comment-date -->

				<%= image_tag @news_detail.image, {:alt => @news_detail.image} %>

				<p>
					<%= @news_detail.content %>
				</p>
				
				<div class="article-tags">
					Tag: <a href="#tag1">Entertainment</a>, <a href="#tag2">Holiwood</a>, <a href="#tag3">Movie</a>
				</div>

			</article> <!-- /#ccr-single-post -->


			<section id="ccr-article-related-post">
				<div class="ccr-gallery-ttile">
					<span class="bottom"></span>
					<p>Related Post</p>
				</div> <!-- .ccr-gallery-ttile -->
				<ul>
					<li>
						
						<div class="ccr-thumbnail">
							<img src="img/x_1.jpg" width="150" height="180">
							<p><a href="#postlink">Read More</a></p>
						</div>
						<h5><a href="#">Developers Start Designing Apps ...</a></h5>
					</li>
					<li>
						
						<div class="ccr-thumbnail">
							<img src="img/x_2.jpg" width="150" height="180">
							<p><a href="#postlink">Read More</a></p>
						</div>
						<h5><a href="#">Apple Adds UnionPay Payment ...</a></h5>
					</li>
					<li>
						
						<div class="ccr-thumbnail">
							<img src="img/x_3.jpg" width="150" height="180">
							<p><a href="#postlink">Read More</a></p>
						</div>
						<h5><a href="#">FY 14 Fourth Quarter Results ...</a></h5>
					</li>
					<li>
						
						<div class="ccr-thumbnail">
							<img src="img/x_4.jpg" width="150" height="180">
							<p><a href="#postlink">Read More</a></p>
						</div>
						<h5><a href="#">Apple Introduces iPad Air 2 ...</a></h5>
					</li>
					<li>
						
						<div class="ccr-thumbnail">
							<img src="img/anh3.jpg" width="150" height="180">
							<p><a href="#postlink">Read More</a></p>
						</div>
						<h5><a href="#">Apple Introduces iPad mini 3...</a></h5>
					</li>
					<li>
						
						<div class="ccr-thumbnail">
							<img src="img/anh4.jpg" width="150" height="180">
							<p><a href="#postlink">Read More</a></p>
						</div>
						<h5><a href="#">Apple Pay Set to Transform Mobile ...</a></h5>
					</li>
					<li>
						
						<div class="ccr-thumbnail">
							<img src="img/anh5.jpg" width="150" height="180">
							<p><a href="#postlink">Read More</a></p>
						</div>
						<h5><a href="#">OS X Yosemite Now Available as ...</a></h5>
					</li>
					<li>
						
						<div class="ccr-thumbnail">
							<img src="img/anh6.jpg" width="150" height="180">
							<p><a href="#postlink">Read More</a></p>
						</div>
						<h5><a href="#">Apple Introduces 27-inch iMac ...</a></h5>
					</li>
				</ul>


			</section> <!-- /#ccr-article-related-post -->

			<section class="bottom-border"></section> <!-- /#bottom-border -->

			<section id="ccr-commnet">
				<div class="ccr-gallery-ttile">
					<span class="bottom"></span>
					<p>Comment</p>
				</div> <!-- .ccr-gallery-ttile -->

				<ol class="commentlist">
					<li  class="comment">
						<article>
							<div class="comment-authore">
								<img src="img/avatar2.png" alt="Avatar">
								<a href="#">Lisa</a>
							</div>
							<div class="comment-content">
								The iPad 2 is the second generation iPad, a tablet computer designed, developed and marketed by Apple Inc.
							</div>
							<div class="reply"><a href="#">Reply</a></div>
							<div class="comment-meta"> 08 February; 2014</div>
						</article>
						<ul class="children">
							<li class="comment">
								<article>
									<div class="comment-authore">
										<img src="img/avatar.png" alt="Avatar">
										<a href="#">Joly</a>
									</div>
									<div class="comment-content">
										The device is available initially with three storage sizes, 16, 32 and 64 GB and two varying connectivity options, Wi-Fi only or Wi-Fi and cellular. Each variation of the device is available with either a black or white front glass panel.
									</div>
									<div class="reply"><a href="#">Reply</a></div>
									<div class="comment-meta"> 08 February; 2014</div>
								</article>
								
							</li> <!-- /.comment -->
						</ul> <!-- /.children -->
					</li> <!-- /.comment -->
					<li  class="comment">
						<article>
							<div class="comment-authore">
								<img src="img/avatar3.jpg" alt="Avatar">
								<a href="#">Hena</a>
							</div>
							<div class="comment-content">
								So amazing!
							</div>
							<div class="reply"><a href="#">Reply</a></div>
							<div class="comment-meta"> 08 February; 2014</div>
						</article>
						<ul class="children">
							<li class="comment">
								<article>
									<div class="comment-authore">
										<img src="img/avatar.png" alt="Avatar">
										<a href="#">Joly</a>
									</div>
									<div class="comment-content">
										Wal-Mart's $299 price offering of the iPad is $100 less than what the iPad 2 was originally sold for at the bargain retailer's chain. 
									</div>
									<div class="reply"><a href="#">Reply</a></div>
									<div class="comment-meta"> 08 February; 2014</div>
								</article>
								<ul class="children">
									<li class="comment">
										<article>
											<div class="comment-authore">
												<img src="img/avatar3.jpg" alt="Avatar">
												<a href="#">Hena</a>
											</div>
											<div class="comment-content">
												However, is only in place for the 16GB iPad 2, and will only be in place for 30 days. 
											</div>
											<div class="reply"><a href="#">Reply</a></div>
											<div class="comment-meta"> 08 February; 2014</div>
										</article>
										
									</li> <!-- /.comment -->
								</ul> <!-- /.children -->
								
							</li> <!-- /.comment -->
						</ul> <!-- /.children -->
					</li> <!-- /.comment -->
				</ol> <!-- /.commentlist -->



			</section> <!-- /#ccr-commnet -->



			<section class="bottom-border"></section> <!-- /#bottom-border -->

			<section id="ccr-respond">
				<div class="ccr-gallery-ttile">
					<span class="bottom"></span>
					<p>Post a Comment</p>
				</div> <!-- .ccr-gallery-ttile -->
				<div id="respond">
					<form action="#" method="post" id="commentform">
						<input id="author" name="author" type="text" placeholder="Name" value="" required>
						<input id="email" name="email" type="email" placeholder="Email" value="" required>
						<input id="url" name="url" type="url" placeholder="Website" value="">
						<textarea id="comment" name="comment" placeholder="Message" rows="8" required></textarea>
						<input name="submit" type="submit" id="submit" value="Submit">
						
					</form> <!-- /#commentform -->
					
				</div> <!-- /#respond -->

			</section> <!-- /#ccr-respond -->


			


		</section><!-- /.col-md-8 / #ccr-left-section -->

	</section><!-- /.col-md-8 / #ccr-left-section -->

	<aside id="ccr-right-section" class="col-md-4 ccr-home">




		<section id="sidebar-older-post">
			<div class="ccr-gallery-ttile">
				<span></span> 
				<p><strong>Older Post</strong></p>
			</div> <!-- .ccr-gallery-ttile -->
			<ul>
				<% @recentposts.each do |post| %>
				<li>
					<%= image_tag post.image, :alt => post.image %>
					<%= link_to post.title, blog_post_path(:id => post.id) %>
					<div class="date-like-comment">
						<span class="date"><%= post.created_at %></span>
					</div>
				</li>
				<% end %>
			</ul>

		</section> <!-- /#sidebar-older-post -->

		</br>
		<section id="sidebar-video-post">
			<div class="ccr-gallery-ttile">
				<p><strong>Watch news our videos</strong></p>
			</div> <!-- .ccr-gallery-ttile -->

			<div class="sidebar-video">
				<iframe width="340" height="195" src="//www.youtube.com/embed/zhZDGoQPNJM" frameborder="0" allowfullscreen></iframe>
				iPhone 6 Clone Unboxing!
			</div>
		</section>  <!-- /#sidebar-video-post -->


	<section id="ccr-sidebar-add-place">
		<div class="sidebar-add-place">

			<img src="<%= image_path("slide_x1.jpg") %>" width="370" height="250">
			
		</div> 
	</section> <!-- /#ccr-sidebar-add-place -->
</br>


<section id="ccr-sidebar-add-place">
	<div class="sidebar-add-place">

		<img src="<%= image_path("slide_x1.jpg") %>" width="370" height="250">
		
	</div> 
</section> <!-- /#ccr-sidebar-add-place -->



</aside><!-- / .col-md-4  / #ccr-right-section -->


<aside id="ccr-footer-sidebar">
	<div class="container">
		<ul>
			<li class="col-md-3">
				<h5>About Us</h5>
				<div class="about-us">
					<p>Nguyễn Bá Thanh</p>
					<p>Nguyễn Ngọc Tuyền</p>
					<p>Đào Quang Hoan</p>
					<p>Lưu Tiến Đạt</p>
					<p>Lê Thị Thủy</p>
					<p>Bùi Chí Thức</p>
				</div>
				<div class="site-logo">
					<a href="index.html"><img src="<%= image_path("logo-apple.png") %>" alt="Side Logo" /><h1>Techie<span> History</span></h1></a>
				</div> <!-- / .navbar-header -->
				
			</li>
			<li class="col-md-3">
				<h5>Popular Post</h5>
				<ul>
					<% @popularposts.each do |post| %>
					<li>
						<%= image_tag post.image, :alt => post.image %>
						<%= link_to post.title, blog_post_path(:id => post.id) %>
					</li>
					<% end %>
				</ul>
				
			</li>
			<li class="col-md-3">
				<h5>Recent Post</h5>
				<ul>
					<% @recentposts.each do |post| %>
					<li>
						<%= image_tag post.image, :alt => post.image %>
						<%= link_to post.title, blog_post_path(:id => post.id) %>
					</li>
					<% end %>
				</ul>
				
			</li>
			<li class="col-md-3">
				<h5>Tags</h5>
				<div class="tagcloud">
					<a href="#">Apple</a>
					<a href="#">Ipad</a>
					<a href="#">Iphone</a>
					<a href="#">IMac</a>
					<a href="#">Macbook</a>
					<a href="#">Ipod</a>
					<a href="#">Power Mac</a>
					<a href="#">Apple Watch</a>
					<a href="#">Technology</a>
				</div>
				
			</li>
		</ul>
	</div>
	
</aside> <!-- /#ccr-footer-sidebar -->
