
<section id="ccr-left-section" class="col-md-8">

	<div class="current-page">
		<%= link_to "Home", home_index_path %> <i class="fa fa-home"></i> <i class="fa fa-angle-double-right"></i> <%= link_to "Categories",  blog_category_path %> <i class="fa fa-angle-double-right"></i> <%= @category.name %>
	</div> <!-- / .current-page -->

	<section id="ccr-category-1">

		<% @firstpost.each do |post| %>
		<div class="ccr-category-featured">
			<div class="ccr-thumbnail"><%= image_tag post.image.url(:mini), :alt => post.image %></div>
			<article>
				<h4><%= link_to post.title, {:action => 'post_detail', :id => post.id} %></h4>
				<%= truncate (sanitize post.body, tags: %w(table tr td), attributes: %w(id class style)), length: 500, separator: ' ', omission: '... (continued)', escape: false %>
				<div class="like-comment-readmore">

					<%= link_to "Read More", {:action => 'post_detail', :id => post.id}, :class => "read-more" %>
				</div> <!-- /.like-comment-readmore -->
			</article>
		</div> <!-- /#ccr-category-featured -->
		<% end %>


		<ul class="ccr-category-post">
			<% @under1stpost.each do |post| %>
			<li>
				<div class="ccr-thumbnail">
					<%= image_tag post.image.url(:mini), :alt => post.image %>
					<p><%= link_to "Read More", {:action => 'post_detail', :id => post.id} %></p>
				</div>
				<h6><b><%= link_to post.title, {:action => 'post_detail', :id => post.id} %></b></h6>
			</li>
			<% end %>
		</ul>


		<nav class="nav-paging">
			<%= paginate @under1stpost %>
		</nav>

	</section> <!-- / #ccr-category -->


</section><!-- /.col-md-8 / #ccr-left-section -->

<aside id="ccr-right-section" class="col-md-4 ccr-home">




	<section id="sidebar-older-post">
			<div class="ccr-gallery-ttile">
				<span></span> 
				<p><strong>Các sản phẩm khác</strong></p>
			</div> <!-- .ccr-gallery-ttile -->
			<ul>
				<% @olderposts.each do |post| %>
				<li>
					<%= image_tag post.image.url(:thumb), :alt => post.image %>
					<b><%= link_to post.title, blog_post_path(:id => post.id) %></b>
					<div class="date-like-comment">
						<span class="date"><%= post.created_at %></span>
					</div>
				</li>
				<% end %>
			</ul>

		</section> <!-- /#sidebar-older-post -->

	</br>
		<section id="sidebar-video-post">
			<div class="ccr-gallery-ttile">
				<p><strong>Xem ngay những sản phẩm mới của Apple</strong></p>
			</div> <!-- .ccr-gallery-ttile -->

			<div class="sidebar-video">
				<iframe width="340" height="195" src="//www.youtube.com/embed/zhZDGoQPNJM" frameborder="0" allowfullscreen></iframe>
				iPhone 6 Clone Unboxing!
			</div>
		</section>  <!-- /#sidebar-video-post -->


		<section id="ccr-sidebar-add-place">
			<div class="sidebar-add-place">

				<img src="<%= image_path("slide_x1.jpg") %>" width="370" height="250">
				
			</div> 
		</section> <!-- /#ccr-sidebar-add-place -->
		</br>
		<section id="ccr-contact-sidebar">
			<p>
				<span>Nhóm của chúng tôi</span>
			</p>
			<address>
				<p>
					Địa Chỉ Km 9, Đường Nguyễn Trãi, Quận Thanh Xuân.
				</p>
				<p>
					Hà Nội, Việt Nam
				</p>
				<p>
					Phone:+084 - 973874452
				</p>
				<p>
					Email: thinghost76@gmail.com
				</p>
			</address>

		</section> <!-- /#ccr-contact-sidebar -->

</aside><!-- / .col-md-4  / #ccr-right-section -->

