<section id="ccr-main-section">
	<div class="container">


		<section id="ccr-left-section" class="col-md-8">

			<div class="current-page">
				<%= link_to "Home", home_index_path %> <i class="fa fa-home"></i> <i class="fa fa-angle-double-right"></i> <%= link_to "Categories",  blog_category_path %> <i class="fa fa-angle-double-right"></i> <%= @category.name %>
			</div> <!-- / .current-page -->

				<section id="ccr-category-1">

					<% @firstpost.each do |post| %>
					<div class="ccr-category-featured">
						<div class="ccr-thumbnail"><%= image_tag post.image, :alt => post.image %></div>
						<article>
						<h4><%= link_to post.title, {:action => 'post_detail', :id => post.id} %></h4>
							<%= truncate(post.body, length: 300, separator: ' ' ) %>
							<div class="like-comment-readmore">

									<%= link_to "Read More", {:action => 'post_detail', :id => post.id}, :class => "read-more" %>
							</div> <!-- /.like-comment-readmore -->
						</article>
					</div> <!-- /#ccr-category-featured -->
					<% end %>


					<ul class="ccr-category-post">
						<% @under1stpost.each do |post| %>
						<li>
							<div class="ccr-thumbnail">
								<%= image_tag post.image, :alt => post.image %>
								<p><%= link_to "Read More", {:action => 'post_detail', :id => post.id} %></p>
							</div>
							<h5><%= link_to post.title, {:action => 'post_detail', :id => post.id} %></h5>
						</li>
						<% end %>
					</ul>


					<nav class="nav-paging">
					<ul>
						<li><a href="#pre"><i class="fa fa-chevron-left"></i></a></li>
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><span class="current">3</span></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#next"><i class="fa fa-chevron-right"></i></a></li>
					</ul>
				</nav>

				</section> <!-- / #ccr-category -->


		</section><!-- /.col-md-8 / #ccr-left-section -->