
		<section id="ccr-left-section" class="col-md-8">

			<div class="current-page">
				<%= link_to "Home", home_index_path %> <i class="fa fa-home"></i> <i class="fa fa-angle-double-right"></i>
				<%= link_to "Products",  blog_post_path %> <i class="fa fa-angle-double-right"></i> <%= @post_detail.title %>
			</div> <!-- / .current-page -->

			<article id="ccr-article">
				<h1><%= @post_detail.title %></h1>

				<div class="article-like-comment-date">	
					Posted by on <%= @post_detail.created_at %> in <%=link_to @post_detail.category.name %>

					<a class="like" href="#"><i class="fa fa-thumbs-o-up"></i> 08</a>
					<a class="comments" href="#"><i class="fa fa-comments-o"></i> 49</a>

				</div> <!-- /.article-like-comment-date -->

				<%= image_tag @post_detail.image, {:alt => @post_detail.image} %>

				<p>
					<%= @post_detail.body %>
				</p>
				
				<div class="article-tags">
					Tag: <a href="#tag1">Entertainment</a>, <a href="#tag2">Holiwood</a>, <a href="#tag3">Movie</a>
				</div>

			</article> <!-- /#ccr-single-post -->


			<section id="ccr-article-related-post">
				<div class="ccr-gallery-ttile">
					<span class="bottom"></span>
					<p>Related Post</p>
				</div> <!-- .ccr-gallery-ttile -->
				<ul>
					<li>

						<div class="ccr-thumbnail">
							<img src="img/x_1.jpg" width="150" height="180">
							<p><a href="#postlink">Read More</a></p>
						</div>
						<h5><a href="#">Developers Start Designing Apps ...</a></h5>
					</li>
					<li>

						<div class="ccr-thumbnail">
							<img src="img/x_2.jpg" width="150" height="180">
							<p><a href="#postlink">Read More</a></p>
						</div>
						<h5><a href="#">Apple Adds UnionPay Payment ...</a></h5>
					</li>
					<li>

						<div class="ccr-thumbnail">
							<img src="img/x_3.jpg" width="150" height="180">
							<p><a href="#postlink">Read More</a></p>
						</div>
						<h5><a href="#">FY 14 Fourth Quarter Results ...</a></h5>
					</li>
					<li>

						<div class="ccr-thumbnail">
							<img src="img/x_4.jpg" width="150" height="180">
							<p><a href="#postlink">Read More</a></p>
						</div>
						<h5><a href="#">Apple Introduces iPad Air 2 ...</a></h5>
					</li>
					<li>

						<div class="ccr-thumbnail">
							<img src="img/anh3.jpg" width="150" height="180">
							<p><a href="#postlink">Read More</a></p>
						</div>
						<h5><a href="#">Apple Introduces iPad mini 3...</a></h5>
					</li>
					<li>

						<div class="ccr-thumbnail">
							<img src="img/anh4.jpg" width="150" height="180">
							<p><a href="#postlink">Read More</a></p>
						</div>
						<h5><a href="#">Apple Pay Set to Transform Mobile ...</a></h5>
					</li>
					<li>

						<div class="ccr-thumbnail">
							<img src="img/anh5.jpg" width="150" height="180">
							<p><a href="#postlink">Read More</a></p>
						</div>
						<h5><a href="#">OS X Yosemite Now Available as ...</a></h5>
					</li>
					<li>

						<div class="ccr-thumbnail">
							<img src="img/anh6.jpg" width="150" height="180">
							<p><a href="#postlink">Read More</a></p>
						</div>
						<h5><a href="#">Apple Introduces 27-inch iMac ...</a></h5>
					</li>
				</ul>


			</section> <!-- /#ccr-article-related-post -->


	</section><!-- /.col-md-8 / #ccr-left-section -->

	<aside id="ccr-right-section" class="col-md-4 ccr-home">




		<section id="sidebar-older-post">
			<div class="ccr-gallery-ttile">
				<span></span> 
				<p><strong>Older Post</strong></p>
			</div> <!-- .ccr-gallery-ttile -->
			<ul>
				<li>
					<img src="<%= image_path("x_1.jpg") %>" alt="Avatar">
					<a href="#">Developers Start Designing Apps for Apple Watch</a>
					<div class="date-like-comment">
						<span class="date"><time datetime="2014-02-17">11/18/2014</time></span>
						<a class="like" href="#"><i class="fa fa-thumbs-o-up"></i> 08</a>
						<a class="comments" href="#"><i class="fa fa-comments-o"></i> 49</a>
					</div>
				</li>
			</ul>

		</section> <!-- /#sidebar-older-post -->

		<section id="sidebar-video-post">
			<div class="ccr-gallery-ttile">
				<span></span> 
				<p><strong>Video Post</strong></p>
			</div> <!-- .ccr-gallery-ttile -->

			<div class="sidebar-video">
				<iframe width="340" height="195" src="//www.youtube.com/embed/zhZDGoQPNJM" frameborder="0" allowfullscreen></iframe>
				iPhone 6 Clone Unboxing!
			</div>
		</section>  <!-- /#sidebar-video-post -->


		<section id="ccr-sidebar-add-place">
			<div class="sidebar-add-place">

				<img src="<%= image_path("slide_x1.jpg") %>" width="370" height="250">

			</div> 
		</section> <!-- /#ccr-sidebar-add-place -->



	</aside><!-- / .col-md-4  / #ccr-right-section -->


