
		<section id="ccr-left-section" class="col-md-8">

			<div class="current-page">
				<%= link_to "Home", home_index_path %> <i class="fa fa-home"></i> <i class="fa fa-angle-double-right"></i>
				<%= link_to "Products",  blog_post_path %> <i class="fa fa-angle-double-right"></i> <%= @post_detail.title %>
			</div> <!-- / .current-page -->

			<article id="ccr-article">
				<h1><%=raw @post_detail.title %></h1>

				<div class="article-like-comment-date">	
					Posted by on <%= @post_detail.created_at %> in <%=link_to @post_detail.category.name %>

					<a class="like" href="#"><i class="fa fa-thumbs-o-up"></i> 08</a>
					<a class="comments" href="#"><i class="fa fa-comments-o"></i> 49</a>

				</div> <!-- /.article-like-comment-date -->

				<%= image_tag @post_detail.image, {:alt => @post_detail.image} %>

				<p>
					<%=raw @post_detail.body %>
				</p>
				
				<div class="article-tags">
					Tag: <a href="#tag1">Entertainment</a>, <a href="#tag2">Holiwood</a>, <a href="#tag3">Movie</a>
				</div>

			</article> <!-- /#ccr-single-post -->


			<section id="ccr-article-related-post">
				<div class="ccr-gallery-ttile">
					<span class="bottom"></span>
					<p>Related Post</p>
				</div> <!-- .ccr-gallery-ttile -->
				<ul>
					<% @relatedposts.each do |post| %>
					<li>

						<div class="ccr-thumbnail">
							<%= image_tag( post.image, size: "180x150", alt: post.image) %>
							<p><%= link_to "Read More", {:action => 'post_detail', :id => post.id} %></p>
						</div>
						<h5><%= link_to post.title, {:action => 'post_detail', :id => post.id} %></h5>
					</li>
					<% end %>
				</ul>


			</section> <!-- /#ccr-article-related-post -->


	</section><!-- /.col-md-8 / #ccr-left-section -->

	<aside id="ccr-right-section" class="col-md-4 ccr-home">




		<section id="sidebar-older-post">
			<div class="ccr-gallery-ttile">
				<span></span> 
				<p><strong>Older Post</strong></p>
			</div> <!-- .ccr-gallery-ttile -->
			<ul>
				<% @recentposts.each do |post| %>
				<li>
					<%= image_tag post.image, :alt => post.image %>
					<%= link_to post.title, blog_post_path(:id => post.id) %>
					<div class="date-like-comment">
						<span class="date"><%= post.created_at %></span>
					</div>
				</li>
				<% end %>
			</ul>

		</section> <!-- /#sidebar-older-post -->

		</br>
		<section id="sidebar-video-post">
			<div class="ccr-gallery-ttile">
				<p><strong>Watch news our videos</strong></p>
			</div> <!-- .ccr-gallery-ttile -->

			<div class="sidebar-video">
				<iframe width="340" height="195" src="//www.youtube.com/embed/zhZDGoQPNJM" frameborder="0" allowfullscreen></iframe>
				iPhone 6 Clone Unboxing!
			</div>
		</section>  <!-- /#sidebar-video-post -->


		<section id="ccr-sidebar-add-place">
			<div class="sidebar-add-place">

				<img src="<%= image_path("slide_x1.jpg") %>" width="370" height="250">
				
			</div> 
		</section> <!-- /#ccr-sidebar-add-place -->
		</br>



	</aside><!-- / .col-md-4  / #ccr-right-section -->


