<!DOCTYPE html>
<html>
<head>
	<title>Techie History Alltime Apple products</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<header id="ccr-header">
		<section id="ccr-nav-top" class="fullwidth">
			<div class="">
				<div class="container">
					<nav class="top-menu">
						<ul class="left-top-menu">
							<li><%= link_to "Home", home_index_path %></li>
							<li><%= link_to "Products",  blog_post_path %></li>
							<li><%= link_to "News",  home_news_path %></li>
							<li><%= link_to "Contact",  contacts_new_path %></li>
						</ul><!-- /.left-top-menu -->

						<ul class="right-top-menu pull-right">
							<li><%= link_to "Login", new_admin_user_session_path %></li>
							<li><%= link_to "Register", new_admin_user_session_path %></li>
							<li>
								<%= form_tag(home_search_path, :method => "get", id: "search-form") do %>
									<%= text_field_tag :search, params[:search], placeholder: "Search For Somethin?" %>
									<%= submit_tag "Submit", :name => nil %>
								<% end %>
								
							</li>
						</ul> <!--  /.right-top-menu -->
					</nav> <!-- /.top-menu -->
				</div>
			</div>	
		</section> <!--  /#ccr-nav-top  -->




		<section id="ccr-site-title">
			<div class="container">
				<div class="site-logo">
					<%= link_to home_index_path, {:class => 'navbar-brand'} do %>
					<%= image_tag('logo-apple.png') %>
					<h1>Techie<span> History</span></h1>
					<h3>Alltime Apple Products</h3>
					<% end %>		
				</div> <!-- / .navbar-header -->

				<div class="add-space">
					Main Banner
				</div> <!-- / .adspace -->

			</div>	<!-- /.container -->
		</section> <!-- / #ccr-site-title -->



		<section id="ccr-nav-main">
			<nav class="main-menu">
				<div class="container">

					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".ccr-nav-main">
							<i class="fa fa-bars"></i>
						</button> <!-- /.navbar-toggle -->
					</div> <!-- / .navbar-header -->

					<div class="collapse navbar-collapse ccr-nav-main">
						<ul class="nav navbar-nav">
							<li><%= link_to "Home", home_index_path, {:class => 'active'} %></li>
							<li class="dropdown">
								<%= link_to "Apple News",  home_news_path %>
							</li><!-- /.dropdown -->
							<li class="dropdown"><a href="#">Category <i class="fa fa-caret-down"></i></a>
								<ul class="sub-menu">
									<% @men_cat.each do |category| %>
									<li><%= link_to category.name, blog_category_path(:category_id => category.id) %></li>
									<% end %>
								</ul><!-- /.sub-menu -->
							</li><!--  /.dropdown -->
							<li><%= link_to "Contact",  contacts_new_path %></li>
						</ul> <!-- /  .nav -->
					</div><!-- /  .collapse .navbar-collapse  -->

					<div id="currentTime" class="pull-right current-time">
						<i class="fa fa-clock-o"></i> 12:10 pm


					</div><!-- / #currentTime -->

				</div>	<!-- /.container -->
			</nav> <!-- /.main-menu -->
		</section> <!-- / #ccr-nav-main -->

		<section id="ccr-nav-below-main">
			<nav class="second-menu">
				<div class="container">

					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".ccr-nav-below-main">
							<i class="fa fa-bars"></i>
						</button> <!-- /.navbar-toggle -->
					</div> <!-- / .navbar-header -->

					<div class="collapse navbar-collapse ccr-nav-below-main">
						<ul class="nav navbar-nav">
							<% @bar_cat.each do |category| %>
							<li><%= link_to category.name, blog_category_path(:category_id => category.id) %></li>
							<% end %>
						</ul> <!-- /.nav /.navbar-nav -->
					</div>

					<div class="ccr-language">
						<ul> 
							<li>Language:</li>
							<li><a href="#"><img src="<%= image_path("uk.png") %>" alt="UK">English</a></li>
							<li><a href="#"><img src="<%= image_path("vn.png") %>" alt="France">Tiếng Việt</a></li>
						</ul>
					</div> <!-- /.ccr-language -->
				</div><!-- /.container -->
			</nav><!-- /.second-menu -->
		</section><!-- / #ccr-nav-below-main -->

	</header> <!-- /#ccr-header -->
	<section id="ccr-main-section">
		<div class="container">




			<!-- / Other include here -->


			<%= yield %>


			<!-- / Other include here -->




		</div><!-- /.container -->
	</section><!-- / #ccr-main-section -->

	<aside id="ccr-footer-sidebar">
		<div class="container">
			<ul>
				<li class="col-md-3">
					<h5>About Us</h5>
					<div class="about-us">
						<p>Nguyễn Bá Thanh</p>
						<p>Nguyễn Ngọc Tuyền</p>
						<p>Đào Quang Hoan</p>
						<p>Lưu Tiến Đạt</p>
						<p>Lê Thị Thủy</p>
						<p>Bùi Chí Thức</p>
					</div>
					<div class="site-logo">
						<a href="index.html"><img src="<%= image_path("logo-apple.png") %>" alt="Side Logo" /><h1>Techie<span> History</span></h1></a>
					</div> <!-- / .navbar-header -->
					
				</li>
				<li class="col-md-3">
					<h5>Popular Post</h5>
					<ul>
						<% @popularposts.each do |post| %>
						<li>
							<%= image_tag post.image, :alt => post.image %>
							<%= link_to post.title, blog_post_path(:id => post.id) %>
						</li>
						<% end %>
					</ul>
					
				</li>
				<li class="col-md-3">
					<h5>Recent Post</h5>
					<ul>
						<% @recentposts.each do |post| %>
						<li>
							<%= image_tag post.image, :alt => post.image %>
							<%= link_to post.title, blog_post_path(:id => post.id) %>
						</li>
						<% end %>
					</ul>
					
				</li>
				<li class="col-md-3">
					<h5>Tags</h5>
					<div class="tagcloud">
						<a href="#">Apple</a>
						<a href="#">Ipad</a>
						<a href="#">Iphone</a>
						<a href="#">IMac</a>
						<a href="#">Macbook</a>
						<a href="#">Ipod</a>
						<a href="#">Power Mac</a>
						<a href="#">Apple Watch</a>
						<a href="#">Technology</a>
					</div>
					
				</li>
			</ul>
		</div>
		
	</aside> <!-- /#ccr-footer-sidebar -->
	<footer id="ccr-footer">
		<div class="container">
			<div class="copyright">
				&copy; 2014, Copyrights <a href="#">Group 15 - AIW 2014</a> - Hanoi University
			</div> <!-- /.copyright -->

			<div class="footer-social-icons">
				<ul>
					<li>
						<a href="#"  class="google-plus"><i class="fa fa-google-plus"></i></a>
					</li>
					<li >
						<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
					</li>
					<li >
						<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
					</li>
					<li >
						<a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
					</li>
				</ul>

			</div><!--  /.cocial-icons -->

		</div> <!-- /.container -->
	</footer>  <!-- /#ccr-footer -->
</body>
</html>
